configuration {
    font:                           "DejaVuSans 14";
    show-icons:                     true;
    icon-theme:                     "Papirus";
    disable-history:                false;
    sidebar-mode:                   true;
    modi: "";
    theme:                          "base16-harmonic-light";
}

element-icon { 
    size: 3ch;
}
